@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body,
html {
  height: 100%;
}

body {
  background-image: url("../src/images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.headline {
  text-align: center;
  color: #fff;
}
