body {
  display: flex;
  height: 100%;
}

#main {
  width: 50%;
  background: #e9e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  justify-content: center;
}

#form {
  height: 100%;
  width: 50%;
}

.hidden {
  display: none;
}
